*{
	font-family: 'Lato', sans-serif;
}

#blockbutton{
	background-color: #9e9e9e;
	border-color: #9e9e9e;
	padding: 30px;
	font-size: 12px;
}

.footer-copyright {
	color: white;
}

i {
	padding-right: 10px;
}

li {
	padding-right: 20px;
}

#tagline {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.btn-primary {
    color: #fff;
    background-color: #9e9e9e;
    border-color: #9e9e9e;
}